<!DOCTYPE html>
{% load static %}

<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      
        <!-- Favicon -->
        <link rel="shortcut icon" href=" " type="image/x-icon" />
        <!-- Icon - IconMonster -->
        <link rel="stylesheet" href="https://cdn.iconmonstr.com/1.3.0/css/iconmonstr-iconic-font.min.css" />
        <!-- Mumble UI -->
        <link rel="stylesheet" href="{% static 'uikit/styles/uikit.css' %}" />
        <!-- Dev Search UI -->
        <link rel="stylesheet" href="{% static 'styles/app.css'%}" />
      
        <title> Erqa App </title>
    </head>
    <body>

        {% include "navbar.html" %}
        <!-- include used to prevent duplication -->
        <!-- extends used to refer to the include -->
        <!--   block content used to locate the child content in another page -->
        <!-- ex, we can put the list bar and a footer with block content between them in main.html then extends this html into all website pages  -->
        
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class=" {{ message.tags }}" {% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        
        
        {% block content  %}

        {% endblock content  %}

        <script src="" async defer></script>
    </body>
</html>